/target
**/*.rs.bk
/crate
__pycache__
*.ll
*.s
/checkouts
/benchmarks/random
*.lrat
*.grat
*.sick
*.out
*.drat.*.sed
*.dpr.*.sed
*.drat.*.drat
*.dpr.*.dpr
*.core.pr
*.core.drat
/perf.data*
/*.profile
/flame-graph.html
/.dir-locals.el
massif.out.*
